/* cabeçalho menu mobile */
@media  screen and (max-width: 1020px) {
    .menu-desktop, .btn-contato{
        display: none;
    }

/* classe geral */

    .flex{
    flex-direction: column;
    }

    h2 .titulo{
    font-size: 32px;
    line-height: 30px;
    }

    .topo-do-site .flex{
    flex-direction: column-reverse;
    }

/* topo do site */

    .topo-do-site .flex{
    gap: 40px;
    }

    .topo-do-site{
    padding: 20px 8%;
    }

    .topo-do-site h1{
    font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
    width: 30%;
    }

/* Especialidades */

    .Especialidades{
    padding: 40px 8%;
    }
    
    .Especialidades .especialidades-box img{
        width: 80%;
    }

/* sobre */

    .sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 33px;
        line-height: 35px;
        text-align: center;
    }
    .img-sobre img{
        width: 60%;
    }
    .btn-social{
        text-align: center;
    }
/* projetos */

    .projetos{
        padding: 80px 8%;
    }
    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }
    
/* footer */

    footer .flex{
        flex-direction: column;
        gap: 25px;
    }

    footer .line-footer{
        text-align: center;
    }
}